.mobile-menu {
display: flex;
align-items: center;

    
@media screen and (max-width: 767px) {
    display: none;
}

    &.is-open {
        position: absolute;
        display: block;
        background-color: var(--white);

        top: 100%;
        left: 0;
        width: 100%;
    }
}

.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @media screen and (min-width: 767px) {
        display: none;
    }
}

.menu-button .cross-icon {
    display: none
}

.menu-button.is-open .cross-icon {
    display: block;
}

.menu-button.is-open .menu-icon {
    display: none;
}